.nav-tabs {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  background: #f0f0f0;
}
.nav-tabs--disabled {
  opacity: 0.75;
}
.nav-tabs--disabled a:not(:first-child) {
  pointer-events: none;
  color: #8c8c8c;
}

.nav-tabs a {
  text-decoration: none;
  padding: 0.25rem 0.75rem;
  color: inherit;
  border-bottom: 2px solid transparent;
}
.nav-tabs a.active {
  border-color: #007acc;
  font-weight: bold;
}